In [1]:
import pandas as pd
df = pd.read_parquet('/home/anonymous/code/KHDL/btl/web/backend/data/ratings_cf.parquet')

print(df.head())

print(df.shape)

   userId  tmdb_id  rating   timestamp
0       1      862     4.0  1225734739
1       1      197     4.0  1225865086
2       1       11     4.5  1225735204
3       1       13     5.0  1225735119
4       1      562     5.0  1225735626
(11732970, 4)

In [1]:
import pandas as pd
df = pd.read_parquet('/home/anonymous/code/KHDL/btl/web/backend/data/ratings_mapped_to_tmdb.parquet')

print(df.head())

print(df.shape)

   userId  tmdb_id  rating   timestamp         title  \
0       1      862     4.0  1225734739     Toy Story
1       1      197     4.0  1225865086    Braveheart
2       1       11     4.5  1225735204     Star Wars
3       1       13     5.0  1225735119  Forrest Gump
4       1      562     5.0  1225735626      Die Hard

                                           genres  \
0  ['family', 'comedy', 'animation', 'adventure']
1           ['action', 'drama', 'history', 'war']
2      ['adventure', 'action', 'science_fiction']
3                  ['comedy', 'drama', 'romance']
4                          ['action', 'thriller']

                                            overview
0  Led by Woody, Andy's toys live happily in his ...
1  Enraged at the slaughter of Murron, his new br...
2  Princess Leia is captured and held hostage by ...
3  A man with a low IQ has accomplished great thi...
4  NYPD cop John McClane's plan to reconcile with...
(11732970, 7)

In [2]:
low_ratings = df[df["rating"] < 3.0]

print("Số dòng rating < 3.0:", len(low_ratings))
low_ratings.head()

Số dòng rating < 3.0: 1292307

,userId,tmdb_id,rating,timestamp,title,genres,overview
12,1,603,2.5,1225736197,The Matrix,"['action', 'science_fiction']","Set in the 22nd century, The Matrix tells the ..."
33,2,10530,2.0,835816766,Pocahontas,"['adventure', 'animation', 'family', 'romance']","Pocahontas, daughter of a Native American trib..."
116,5,1573,2.0,1029389090,Die Hard 2,"['action', 'thriller']","One year after his heroics in Los Angeles, Joh..."
166,7,251,2.0,974520928,Ghost,"['fantasy', 'drama', 'thriller', 'mystery', 'r...","After a young man is murdered, his spirit stay..."
250,10,105,2.5,1430666390,Back to the Future,"['adventure', 'comedy', 'science_fiction']",Eighties teenager Marty McFly is accidentally ...

In [2]:
import pandas as pd

path = "/home/anonymous/code/KHDL/btl/web/backend/data/tmdb_cleaned.csv"

df = pd.read_csv(path)

ids = [862, 197, 11, 13, 562]

# Lọc các phim có trong danh sách
result = df[df["tmdb_id"].isin(ids)][["tmdb_id", "title"]]

print(result)

     tmdb_id         title
83       562      Die Hard
132       11     Star Wars
206       13  Forrest Gump
289      862     Toy Story
666      197    Braveheart